<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>

<body>
    <div >
        <p style="color:rgb(228, 220, 220);padding:10px;background-color: rgb(75, 86, 55);font-size: 20px;">welcome to rest api server !</p>
        <ul style="list-style-type: none;">
            <li> we will follow MVC architecture.</li>
            <li> - routes demo.</li>
            <li> - /users->GET-> {id,username,email}</li>
            <li> - /users/->POST->{username,email}</li>
            <li> - /users/:id->PUT-> update the user</li>
            <li> - /users/:id->DELETE->delete the user</li>
            <li> - command : npm init -y && npm i express nodemon cors dotenv uvid(to create unique id)</li>
        </ul>
    </div>
</body>

</html>